body {
  
  background-color: rgb(240, 213, 173);
  text-align: center;
  margin: 4px 2px;

  
}

.time {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #fff;

}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.newbook {
  position: absolute;
  top: 300px;
  left: 1000px;
}

.startbutton {
  background-color: rgb(190, 233, 191);
}

.welcome{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
}

.shelfdivider {
  line-height: 3em;
  height: 75px;
  background-color:rgb(240, 213, 173);
}
.shelves{
  width:1800px;
  height: 31px;
  background-color: #795D4E;
  text-align:center; 
  color: #fff;
}

.session{
  background-color:#958A79;
  font-size: 50px;
  font-weight:lighter;
}

.container .box {
    display: table;
    width: 700px;
    table-layout: fixed; 
}
.container .box .box-row {  
  display:table-row;  
} 
.container .box .box-cell {  
  display:table-cell;  
}  

.box-cell .imageContainer > img:hover {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 500px;
  height: 500px;
  z-index:2;
  visibility: visible;
}

.box-cell .bookTitle{
  position: absolute;
  top: 120px;
  left: 250px;
  font-size:50px;
  width: 100px;
  z-index:2;
  visibility: hidden;
}